@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --primary: #fabd2f;
  --secondary: #323233;
  --ternary: #282828;
  --background: #1c2121;
  --card: #282828;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
